/* src/components/LandingPage.css */

/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Styles for the landing page container */
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Ensures the animation stays within the container */
    background: linear-gradient(45deg, #ffcccb, #98fb98, #b0e0e6, #f0e68c);
    background-size: 400% 400%; /* Adjust this value based on the desired speed */
    animation: gradientAnimation 15s ease infinite; /* Adjust the animation duration */
  }
  
  /* Styles for the header section */
  header {
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  header p {
    font-size: 18px;
    color: #666;
  }
  
  /* Styles for the main section */
  main {
    margin-top: 20px;
  }
  
  .login-button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #1DB954;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .login-button:hover {
    background-color: #1aa34a;
  }
  
  /* Styles for the footer section */
  footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  /* Animation for the moving gradient background */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 30px;
    }
  
    header p {
      font-size: 16px;
    }
  
    .login-button {
      font-size: 16px;
    }
  
    footer {
      font-size: 12px;
    }
  }
  