body, h1, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 55px); /* reduce the height by the height of the navbar */
  padding: 10px; /* reduced padding to free up some space */
  overflow: hidden; /* hiding potential overflow */
  background: linear-gradient(45deg, #ffcccb, #98fb98, #b0e0e6, #f0e68c);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #666;
  flex-shrink: 1; /* added flex-shrink to allow shrinking */
}

.album-cover {
  position: absolute;
  bottom: 0;
  width: 3%;
  visibility: hidden;
  opacity: 0;
  animation: float 30s ease-in-out infinite;
}

header {
  text-align: center;
  padding: 40px 20px 20px; /* reduced padding to free up some space */
  flex-shrink: 1; /* added flex-shrink to allow shrinking */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes moveUpFadeOut {
  0% {
    bottom: 0;
    opacity: 0; /* Start the animation with the cover fully transparent */
    visibility: visible; /* Make the cover visible when the animation starts */
  }
  25% {
    opacity: 1; /* Gradually change the opacity to fully visible */
  }
  75% {
    opacity: 1; /* Keep the cover fully visible for most of the animation */
  }
  100% {
    bottom: 100%;
    opacity: 0; /* Make the cover fade out at the end of the animation */
  }
}

.login-button {
  padding: 15px 30px; /* Adjust the padding to make the button larger */
  font-size: 20px; /* Adjust the font size to make the text larger */
  font-weight: bold;
  color: #fff;
  background-color: #1DB954;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #1aa34a;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rise {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 30px;
  }

  header p {
    font-size: 16px;
  }

  .login-button {
    font-size: 16px;
  }

  footer {
    font-size: 12px;
  }
}
